* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation{
    background-color: #224466;
    height: 70px;
}
.navigation .logo{
    float: left;
    margin-left: 15px;
    margin-top: 20px;
    font-weight: 800;
    color: white;
}
.navigation .menu{
    float: right;
}
.navigation .menu a{
    text-decoration: none;
    float: left;
    margin-right: 15px;
    margin-top: 25px;
    letter-spacing: 1.5px;
    font-weight: 600;
    color: white;
}


.navigation .btnLogin-popup{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    width: 130px;
    height: 50px;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    background: transparent;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: .5s;
}

.navigation .btnLogin-popup:hover{
    background: white;
    color: #162938;
}
